@import "../../../styles/Mixins";

.header {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 65px;
  margin-top: 40px;

  @include max(720px) {
    margin-top: 25px;
  }

  @include max(560px) {
    margin-top: 20px;
  }

  @include max(480px) {
    margin-top: 15px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    //margin: 0 20px;
    align-items: center;
    font-family: Montserrat-700;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;

    @include max(480px) {
      font-size: 0;
    }

    &::before {
      content: '';
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 12px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &_calculate {
      &::before {
        background-image: url("./calculate.svg");
      }
    }

    &_locale {
      &::before {
        background-image: url("./calculate.svg");
      }
    }

    &_account {
      border-color: transparent !important;
      &:hover {
        border-color: transparent !important;
        color: initial !important;
        -webkit-text-fill-color: #fff !important;
      }
      &::before {
        background-image: url("./profile.svg");
      }
    }

    &_connect_wallet {
      &::before {
        background-image: url("./calculate.svg");
      }
    }
  }
}
