@import '../../../styles/Mixins';

.modern-table-wrap {
  position: relative;
  overflow: hidden;

  &__shadow {
    position: absolute;
    top: 0;
    width: 80px;
    height: calc(100% - 20px);
    opacity: 1;
    transition: 0.2s;
    z-index: 10;
    pointer-events: none;

    &_left {
      left: -41px;
      background: radial-gradient(closest-side, #202886 10%, transparent);
    }

    &_right {
      right: -41px;
      background: radial-gradient(closest-side, #232b95 20%, transparent);
    }

    &_hide {
      opacity: 0;
    }
  }
}

.modern-table {
  position: relative;
  padding-bottom: 16px;
  @include custom-horizontal-scroll;

  &__scroll {
    position: relative;

    @include max(991px) {
      min-width: fit-content;
    }

    &-hidden {
      position: absolute;
      top: 0;
      width: 1px;
      height: 1px;

      &_left {
        left: 0;
      }

      &_right {
        right: 0;
      }
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__header,
  &__row {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;

    .modern-table__col:first-child {
      min-width: 300px;

      @include max(1060px) {
        min-width: 280px;
      }

      @include max(991px) {
        min-width: 250px;
      }

      @include max(490px) {
        min-width: 200px;
      }
    }
  }

  &__row {
    height: 54px;
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    transition: 0.35s;

    &:hover {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.1);

      .modern-table__col-label {
        background-color: #ffffff;
        border-color: #ffffff;

        .accent-label__text {
          background-image: -webkit-linear-gradient(0deg, #3B44F9 10%, #CC00FF 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .modern-table__link {
        background: -webkit-linear-gradient(0deg, #F2A93C 10%, #FF6B00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__col {
    //width: 20%;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;

    &_title {
      font-family: Montserrat-700;
      line-height: 1;
    }

    &-label {
      min-width: 106px;

      &-total {
        background-color: #f78f23;
      }
    }

    &-title {
      max-width: 125px;
      text-transform: uppercase;
      background: -webkit-linear-gradient(0deg, #F2A93C 10%, #FF6B00 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    a {
      display: inline-flex;
      align-items: center;
      position: relative;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;

      &:before {
        content: '';
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-image: url("./eye.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
