@import 'Reset';
@import 'Theme';
@import 'Mixins';

@font-face {
  font-family: "Montserrat-400";
  src: url("Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-700";
  src: url("Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat-800";
  src: url("Montserrat-Bold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat-900";
  src: url("Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 900;
}

body {
  background-color: #101A42;
  background-image: url('../images/bg_pattern.png');
  font: 18px/1.33 Montserrat-400;
  color: #ffffff;
  @include custom-scroll;

  @include max(1184px) {
    font: 16px/1.33 Montserrat-400;
  }
}

#root {
  overflow: hidden;
}

.ant-message {
  z-index: 6000;
}

button {
  position: relative;
  cursor: pointer;
}

section {
  margin: 70px 0;

  @include max(992px) {
    margin: 60px 0;
  }

  @include max(720px) {
    margin: 50px 0;
  }

  @include max(580px) {
    margin: 40px 0;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1180px;
  padding: 0 48px;
  margin: 0 auto;

  @include max(992px) {
    padding: 0 32px;
  }

  @include max(490px) {
    padding: 0 16px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #101A42;
  z-index: 10000;

  .logo {
    display: block;
    animation: loading 2s infinite ease-in-out;
  }
}

.get-started {
  position: relative;

  .container {
    position: relative;
  }

  .title {
    position: relative;
    z-index: 5;
  }

  &__decor {
    position: absolute;
    top: -200px;
    left: 0;
    width: 900px;
    height: 625px;
    background: url('../images/decor_project-start.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__border {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 100px;
    background: linear-gradient(to right, rgba(255,255,255,0.35), transparent);
  }

  &__actions {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn:first-child {
      margin-right: 20px;

      @include max(680px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    @include max(680px) {
      flex-direction: column;

      .btn {
        max-width: 310px;
        width: 100%;
        justify-content: center;
        margin-right: 0;
      }
    }
  }
}


.button-play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 15;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    width: 82px;
    height: 82px;
    background-image: url("../images/play.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    transition: transform 0.35s;
  }

  &:hover {
    span {
      transform: scale(1.2);
    }
  }
}

.ant-form-item-has-error {
  min-height: 90px !important;
}

@keyframes loading {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
