@import '../../../../../../styles/Mixins';

.wallets {
  &__item {
    width: 100%;
    border-radius: 20px 20px 0 0 !important;
    border-top: rgba(140, 140, 140, 0.5) solid 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 70%, transparent 100%);
    padding-bottom: 5px;
    color: #ffffff;

    &-header {
      color: #f78f23 !important;
      padding: 15px 0 10px 20px !important;

      div {
        order: 2;
      }

      span {
        order: 1;
      }
    }

    .ant-collapse-header-text {
      font-size: 18px;
      font-family: Montserrat-700;
    }

    &-content {
      display: flex;
      width: 100%;
      color: #ffffff;
      font-size: 18px;
      justify-content: space-between;
      padding: 0 40px 10px;

      @include max(680px) {
        & {
          padding: 0 20px 10px 10px;
        }
      }

      &-title {
        position: absolute;
        top: -51px;
        color: rgba(204, 203, 203, 0.7);
        font-size: 18px;

        @include max(780px) {
          & {
            top: -28px;
          }
        }
      }

      &-item {
        position: relative;
        min-width: 80px;
      }

      @include max(680px) {
        &-item:first-child {
          display: none;
        }

        &-item {
          font-size: 14px;
          min-width: 0;
        }

        &-item:last-child {
          font-size: 0;
          min-width: 0;
        }
      }

      &:not(:first-child) {

      }
    }
  }
}
