.form-input {
  background: rgba(255,255,255,0.075);
  border-radius: 18px;
  padding: 4px 18px;
  transition: background-color 0.15s;
  margin-bottom: 0;

  label {
    font-size: 12px !important;
    font-family: Montserrat-400;
    color: #8A94A0 !important;

    &::before {
      content: none !important;
    }
  }

  &_focus {
    background: rgba(255,255,255,0.14);

    label {
      color: #ffffff !important;
    }
  }

  input {
    position: relative;
    top: - 10px;
    background: transparent;
    border-color: transparent;
    border: none;
    outline: none;
    padding-left: 0;
    color: #ffffff;

    &:disabled {
      color: rgba(255,255,255,0.55) !important;
    }
  }

  .ant-form-item-explain-error {
    font-size: 12px;
  }

  &_req {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      background-color: #3B44F9;
    }
  }
}
